@import url("./fonts.css");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
    max-width: 1232px;
    margin: 0 auto;
    padding: 120px 0px 120px;
    width: 100%;
}

.offers-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.titel-underline {
    border: none;
    width: 100px;
    height: 4px;
    margin: 0 auto;
    background-color: #F5BD41;
    margin-bottom: 80px;
}

.offers-list {
    display: flex;
}

.item {
    width: 25%;
    text-align: center;
}

.img-wrapper {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

.item-text {
font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
}

.text-center {
    text-align: center;
}

.container-foter {
    max-width: 1232px;
    margin: 0 auto;
    padding: 120px 0px 200px;
    width: 100%;
    background-color: #10367C;
    }

.container-list {
    display: flex;
    margin-bottom: 64px;
}

.list-1 {
    margin-left: 104px;
    width: 280px;
}

.list-2 {
    margin-left: 210px;
    width: 300px;   
}

.list-3 {
    margin-left: 100px;
    margin-right: 200px;
    width: 300px;
}

ul {
    list-style-type: none;
}

li {
    line-height: 48px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
}

.list-1-1 {
    font-weight: 500;
}

.copyright {
    padding-left: 104px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
}